.container-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%; // Usa tutta l'altezza della viewport
  text-align: center; // Per centrare il testo
}
