<div class="container h-100 text-dark">
  <div class="row h-100">
    <div class="col-6 p-4 d-flex flex-column justify-content-center leftArea">
      <img src="authCover.png" alt="" class="w-100 cover" />
    </div>
    <div class="col-6 d-flex flex-column justify-content-center">
      <div class="p-3">
        <h1 class="mb-4">Hai dimenticato la password?</h1>
        <h4>Inserisci l'email per resettare la password</h4>
        <form [formGroup]="form" (ngSubmit)="resetPassword()">
          <div class="form-group">
            <label for="mail">Email</label>
            <input
              type="text"
              name="identifier"
              placeholder="mario@email.com"
              class="form-control"
              formControlName="email"
            />
            <div>
              <span
                class="validator"
                role="alert"
                *ngIf="isInvalidTouched('identifier')"
                ><ng-icon name="iconoirEmojiSad"></ng-icon
                >{{ getError("email") }}</span
              >
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-accent mt-2"
            [disabled]="form.invalid"
          >
            <ng-container *ngIf="!isLoadingLogin">Invia richiesta</ng-container>
            <span
              *ngIf="isLoadingLogin"
              class="spinner-border spinner-border-sm"
              aria-hidden="true"
            ></span>
          </button>

          <p class="mt-3">
            Non hai ancora un account?
            <a routerLink="/auth/register">Registrati ora!</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
