.add-remove-btn {
  border: none;
  background-color: inherit;
  span {
    text-align: center;
    vertical-align: middle;
    color: #88425a;
    font-size: 1.15rem;
  }
}

.custom {
  border: 1px solid #d7d7d7;
  box-shadow: 9px 9px 20px 10px #9997945c;
  border-radius: 12px;
  background-color: #f7f7f7;
  padding-inline: 1rem;
  margin-top: 2rem;
  padding-bottom: 1.5rem;
}
.fw-semibold {
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: smaller;
  }
}
.customBtn {
  @media screen and (max-width: 575px) {
    margin-top: -62px;
    margin-bottom: 22px;
  }
}
.customFw {
  @media screen and (max-width: 575px) {
    font-weight: 300;
    margin-top: -6px;
  }
}
