@import "../../../../partials/partialColors";

.opening-card {
  padding: 0.5rem 0.75rem;
  height: 100%;
}

.border-card {
  border: 2px solid $secondary;
}

.editHour {
  padding: 0.5rem 0.75rem;
  background-color: $background;
  z-index: 1000;
}

.edit-icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  transform: translate(50%, -50%);
  background-color: $background;
  color: $warning;
}

.editing-icon {
  z-index: 1001;
}
