@import "../../../../partials/partialColors";

.reservations {
  margin-top: 1rem;
  padding: 1.25rem;
  background: #f9f9f9;
  border-radius: 8px;
}

.reservation {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  ul {
    margin-bottom: 0;
  }
}
.reservation:last-of-type {
  border: 0;
  padding-bottom: 0;
}
