.maxHeigtAppointment {
  max-height: 64vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .reservation-section {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex-grow: 1;
    height: 300px;
    overflow-y: auto;
    &.full-h {
      height: 600px;
    }
    .scrollable {
      flex-grow: 1;
      overflow-y: auto;
      scroll-behavior: smooth;
      padding: 10px;
      border: none;
    }
  }
}
