<div class="maxHeigtAppointment">
  <ng-container *ngIf="pendingReservation.length > 0">
    <div class="reservation-section pending">
      <h3>Appuntamenti da confermare</h3>
      <div class="d-flex flex-column gap-2 scrollable">
        <ng-container *ngFor="let reservation of pendingReservation">
          <div
            [ngTemplateOutlet]="appointment"
            [ngTemplateOutletContext]="{ reservation }"
          ></div>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="confirmedReservation.length > 0">
    <div class="reservation-section confirmed">
      <h3 class="mt-3">Prossimi appuntamenti</h3>
      <div class="d-flex flex-column gap-2 scrollable">
        <ng-container *ngFor="let reservation of confirmedReservation">
          <div
            [ngTemplateOutlet]="appointment"
            [ngTemplateOutletContext]="{ reservation }"
          ></div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>

<!-- template -->

<ng-template #appointment let-reservation="reservation">
  <div class="border p-2">
    <p><b>Data</b>: {{ reservation.date | date : "dd/MM/yyyy" }}</p>
    <p>
      <b>Cliente</b>:
      {{ reservation.customer.name + " " + reservation.customer.surname }}
    </p>
    <p>
      <b>Orario</b>:
      {{ timeConverterSvc.secondsToTime(reservation.startTime) }}
    </p>

    <p>
      <b>Servizi</b>:
      <ng-container
        *ngFor="let service of reservation.salonServices; let i = index"
      >
        <span
          >{{ service.name
          }}<span *ngIf="i < reservation.salonServices.length - 1"
            >,
          </span></span
        >
      </ng-container>
    </p>
    <ng-container *ngIf="reservation.status === 'PENDING'">
      <div class="mt-2 d-flex gap-3">
        <button class="btn btn-accent">Conferma</button>
        <button class="btn btn-danger">Rifiuta</button>
      </div>
    </ng-container>
    <ng-container *ngIf="reservation.status === 'CONFIRMED'">
      <div class="mt-2 d-flex gap-3">
        <button class="btn btn-accent">Completato</button>
        <button class="btn btn-danger">Annulla</button>
      </div>
    </ng-container>
  </div>
</ng-template>
