@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

$font-family-sans-serif: "Josefin Sans", sans-serif;

@import "./partials/partialColors";

$theme-colors: map-merge($theme-colors, $custom-colors);

$nav-link-color: $text;
$nav-link-hover-color: $text;

$widths: (
  30: 30px,
  50: 50px,
  100: 100px,
  150: 150px,
  200: 200px,
  250: 250px,
);

@each $label, $value in $widths {
  .w-fixed-#{$label} {
    width: #{$value};
  }
}

@for $i from 1 through 100 {
  .w-c-#{$i} {
    width: #{$i * 1%};
  }
}

$heights: (
  30: 30px,
  50: 50px,
  100: 100px,
  150: 150px,
  200: 200px,
);

@each $label, $value in $heights {
  .h-fixed-#{$label} {
    height: #{$value};
  }
}

@for $i from 1 through 100 {
  .h-c-#{$i} {
    height: #{$i * 1%};
  }
}

@import "bootstrap/scss/bootstrap";

.fs-7 {
  font-size: 0.8rem;
}

.fs-8 {
  font-size: 0.7rem;
}

.fs-9 {
  font-size: 0.6rem;
}

.fs-10 {
  font-size: 0.5rem;
}

body,
*,
input,
textarea,
button {
  font-family: $font-family-sans-serif;
}

body {
  background-color: $background;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

p {
  margin: 0;
  padding: 0;
}

.nav-link {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0%;
    background-color: black;
    top: 66%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    &::after {
      width: 85%;
    }
  }
  &.linkSelected::after {
    width: 85%;
  }
}

a {
  color: $accent;
  transition: all 0.3s ease-in-out;
  // &:hover {
  //   text-shadow: 1px 1px 14px #88425a85;
  // }
}

:root {
  input {
    color: $accent;
    font-size: 16px;
    padding: 8px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
    border: 1px solid rgb(118, 118, 118);

    &::placeholder {
      color: $primary;
    }
    &:focus,
    &:focus-visible {
      border: 1px solid $accent;
      box-shadow: 0 0 14px 0.25rem #88425a5e;
      color: #5e3241;
      outline: none;
    }
  }
}

.pagination.pagination-sm {
  margin: 0;
}

.page-link {
  color: $primary;
  &:focus {
    color: $accent;
    background-color: #fff;
    box-shadow: none;
  }
  &:hover {
    color: $accent;
    background-color: #fff;
    box-shadow: none;
  }
}
.page-link.active,
.active > .page-link {
  background-color: $accent;
  border: 1px solid $secondary;
  &:hover {
    color: $primary;
  }
}

.checkbox-container {
  display: flex;
  vertical-align: middle;
  gap: 10px;
  cursor: pointer;

  input[type="checkbox"] {
    display: none;
  }

  .custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #88425a;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgba(136, 66, 90, 0.2);
    }
  }

  input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #88425a;
    border-color: #88425a;
  }

  input[type="checkbox"]:checked + .custom-checkbox::after {
    content: "✔";
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
}

@import "./partials/_partialCalendar";
@import "./partials/partialNgSelect";
