<div class="container1">
  <div class="row h-100">
    <div
      class="col-12 col-md-6 h-100 d-flex flex-column justify-content-center"
    >
      <h1 class="text-secondary text-center text-md-start">
        L'esperienza delle nostre mani al servizio dei tuoi capelli
      </h1>
      <div class="text-center" *ngIf="role !== 'ADMIN'">
        <button class="btn btn-accent fs-5" routerLink="/booking">
          PRENOTA
        </button>
      </div>
    </div>
  </div>
  <div class="">
    <img class="img" src="coiffeurs.png" alt="foto dei parrucchieri" />
  </div>
</div>
<div class="container2">
  <div class="box">
    <h2>FILOSOFIA</h2>
    <div>
      <p>
        I tuoi capelli sono la nostra passione. Insieme creeremo il colore, il
        look e lo stile perfetti per te.
      </p>
    </div>
    <img
      src="trisfoto.png"
      alt="illustrazione di tre foto inerenti i capelli"
    />
  </div>
</div>
<app-opening-hours></app-opening-hours>
