<div class="container1">
  <div class="row h-100">
    <div
      class="col-12 col-sm-6 h-100 d-flex flex-column justify-content-center"
    >
      <h1 class="text-secondary text-center text-sm-start">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas atque
        magnam quo.
      </h1>
      <div class="text-center">
        <button class="btn btn-accent fs-5" routerLink="/booking">
          PRENOTA
        </button>
      </div>
    </div>
  </div>
  <div class="">
    <img class="img" src="coiffeurs.png" alt="foto dei parrucchieri" />
  </div>
</div>
<div class="container2">
  <div class="box">
    <h2>FILOSOFIA</h2>
    <div>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry
      </p>
    </div>
    <img
      src="trisfoto.png"
      alt="illustrazione di tre foto inerenti i capelli"
    />
  </div>
</div>
<app-opening-hours></app-opening-hours>
