.container1 {
  height: calc(100vh - 95px);
  position: relative;
  padding-inline: 5rem;
  @media screen and (max-width: 1399px) {
    height: calc(100vh - 83px);
  }
  @media screen and (max-width: 1199px) {
    height: calc(100vh - 69px);
  }
  @media screen and (max-width: 991px) {
    height: calc(100vh - 52px);
  }
  @media screen and (max-width: 767px) {
    height: auto;
  }
  @media screen and (max-width: 400px) {
    padding-inline: 2.5rem;
  }
  .img {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: contain;
    @media screen and (max-width: 767px) {
      display: block;
      position: inherit;
      width: 100%;
      left: 0;
      margin-block: 1.5rem;
    }
  }
  h1 {
    font-size: 3.75rem;
    @media screen and (max-width: 1199px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 991px) {
      font-size: 2.25rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 2rem;
      margin-top: 1.5rem;
    }
    @media screen and (max-width: 575px) {
    }
    @media screen and (max-width: 400px) {
      margin-top: 5rem;
      font-size: 1.65rem;
    }
  }
  button {
    transform: translateX(-25%);
    margin-top: 1rem;
    width: 177px;
    height: 66px;
    border-radius: 20px;
    @media screen and (max-width: 1199px) {
      width: 150px;
      height: 50px;
    }
    @media screen and (max-width: 767px) {
      transform: translateX(0);
    }
    @media screen and (max-width: 400px) {
      width: 125px;
      height: 35px;
      border-radius: 14px;
      font-size: 1rem !important;
    }
  }
}
.container2 {
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
  @media screen and (max-width: 767px) {
    height: auto;
    margin-bottom: 1.5rem;
  }
  .box {
    height: 85%;
    width: 85%;

    background-color: #5e3241;
    color: #f0efec;
    padding: 4rem 10rem 4rem 20rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    position: relative;
    @media screen and (max-width: 1199px) {
      padding-left: 15rem;
    }
    @media screen and (max-width: 991px) {
      justify-content: center;
      padding-left: 10rem;
    }
    @media screen and (max-width: 767px) {
      justify-content: center;
      width: 100%;
      align-items: center;
    }
    @media screen and (max-width: 575px) {
      padding-inline: 2rem;
    }
    h2 {
      font-size: 4rem;
      margin-bottom: 5rem;
      @media screen and (max-width: 1199px) {
        font-size: 3rem;
      }
      @media screen and (max-width: 991px) {
        font-size: 2.25rem;
      }
      @media screen and (max-width: 767px) {
      }
    }
    div {
      @media screen and (max-width: 991px) {
        align-self: center;
        text-align: center;
      }
    }
    p {
      font-size: 3rem;

      @media screen and (max-width: 991px) {
        font-size: 2rem;
      }
      @media screen and (max-width: 575px) {
        font-size: 1.5rem;
      }
    }
    img {
      position: absolute;
      height: 100vh;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 8px 8px 21px 8px #00000034;
      width: 20%;
      @media screen and (max-width: 1199px) {
        width: 25%;
      }
      @media screen and (max-width: 991px) {
        width: 30%;
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}
