<div class="container">
  <h1 class="mt-5">Gestisci il tuo salone</h1>
  <div class="d-flex gap-3 mt-3 px-3">
    <div
      role="button"
      routerLink="appointments"
      routerLinkActive="active"
      class="d-flex flex-column align-items-center border-selection p-3"
    >
      <ng-icon name="akarCalendar" class="fs-5"></ng-icon>
      <p>Agenda Appuntamenti</p>
    </div>
    <div
      role="button"
      routerLink="closingManagement"
      routerLinkActive="active"
      class="d-flex flex-column align-items-center border-selection p-3"
    >
      <ng-icon name="akarCircleX" class="fs-5"></ng-icon>
      <p>Gestione Chiusure</p>
    </div>
    <div
      routerLink="openingHours"
      routerLinkActive="active"
      role="button"
      class="d-flex flex-column align-items-center border-selection p-3"
    >
      <ng-icon name="akarClock" class="fs-5"></ng-icon>
      <p>Orari del Salone</p>
    </div>
    <div
      routerLink="services"
      routerLinkActive="active"
      role="button"
      class="d-flex flex-column align-items-center border-selection p-3"
    >
      <ng-icon name="akarScissor" class="fs-5"></ng-icon>
      <p>Servizi</p>
    </div>
    <div
      routerLink="customers"
      routerLinkActive="active"
      role="button"
      class="d-flex flex-column align-items-center border-selection p-3"
    >
      <ng-icon name="akarPeopleGroup" class="fs-5"></ng-icon>
      <p>Clienti</p>
    </div>
    <div
      routerLink="gallery"
      routerLinkActive="active"
      role="button"
      class="d-flex flex-column align-items-center border-selection p-3"
    >
      <ng-icon name="remixGalleryFill" class="fs-5"></ng-icon>
      <p>Galleria</p>
    </div>
  </div>
  <div class="mt-2 p-3"><router-outlet></router-outlet></div>
</div>
