<div class="mt-5 custom-container">
  <h1 class="">Riepilogo prenotazione</h1>

  <div class="mt-5">
    <p class="text-center fw-semibold text-bg-accent">Il mio appuntamento</p>

    <div>
      <p class="mt-2">Servizi:</p>
      <div class="d-flex flex-column gap-3">
        <ng-container
          *ngFor="let service of reservation.salonServices; let i = index"
        >
          <div class="border border-accent p-2 position-relative w-c-35">
            <p class="fw-semibold">{{ service.name | uppercase }}:</p>
            <p class="fw-light">
              {{ timeConversionSvc.secondsToDuration(service.duration) }}
            </p>
          </div>
        </ng-container>
      </div>
    </div>

    <ng-container *ngIf="reservation.salonServices.length > 1">
      <p class="fw-semibold mt-3">Durata totale:</p>
      <p>{{ totalDuration }}</p>
    </ng-container>
    <div class="d-flex justify-content-between mt-3">
      <div>
        <p class="fw-semibold">Data:</p>
        <p>{{ reservation.date | date : "dd/MM/yyyy" }}</p>
      </div>
      <div class="text-end">
        <p class="fw-semibold">Orario:</p>
        <p>
          {{ timeConversionSvc.secondsToTime(reservation.startTime) }}
        </p>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-3">
      <div>
        <p class="fw-semibold">Prezzo:</p>
      </div>
      <div>
        <p>{{ totalPrice | number : "1.0-0" }} €</p>
      </div>
    </div>
  </div>

  <button class="btn btn-accent mt-3 w-100" (click)="sendReservation()">
    Conferma
  </button>
</div>
