<div class="container py-5 mt-3 border-top">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column">
      <p class="fs-5">DOVE TROVARCI</p>
      <div class="flex-grow-1 align-content-center">
        <p>Via Umberto I, 345</p>
        <p>Porto Sant'Elpidio (FM)</p>
      </div>
    </div>
    <div class="d-flex flex-column">
      <p class="fs-5 mb-4">CONTATTI</p>
      <div class="flex-grow-1 align-content-center">
        <div class="mb-1">
          <p class="">
            <b>Telefono:</b>
          </p>
          <p class="mb">0734 994780</p>
        </div>
        <div>
          <p>
            <b>Email:</b>
          </p>
          <p class="mb">saloneN&S&commat;gmail.com</p>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column">
      <div class="flex-grow-1 align-items-center d-flex gap-3">
        <a
          href="https://www.facebook.com/parrucchieri.nicolettaesandro"
          target="_blank"
          rel="noopener noreferrer"
          ><ng-icon class="ico fb" name="remixFacebookFill"></ng-icon
        ></a>
        <a
          href="https://www.instagram.com/parrucchierinicoletta_e_sandro?igsh=MW9mOGhveDhmaHJoaw=="
          target="_blank"
          rel="noopener noreferrer"
          ><ng-icon class="ico ig" name="remixInstagramLine"></ng-icon
        ></a>
        <a
          href="https://wa.me/393278836990"
          target="_blank"
          rel="noopener noreferrer"
          ><ng-icon class="ico wa" name="remixWhatsappLine"></ng-icon
        ></a>
      </div>
    </div>
  </div>
</div>
