.mb {
  margin-top: -0.35rem;
}

.ico {
  color: #f0efec;
  border-radius: 5px;
  font-size: 1.75rem;

  &.fb {
    background-color: #405a93;
  }
  &.ig {
    background-color: #c53d75;
  }
  &.wa {
    background-color: #64cf72;
  }
}
