<div class="py-5 mt-3 border-top">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-sm-6 col-md-4">
        <p class="fs-5 mb-2 mb-sm-4">DOVE TROVARCI</p>
        <div class="flex-grow-1 align-content-center">
          <p>Via Umberto I, 401</p>
          <p>Porto Sant'Elpidio (FM)</p>
        </div>
      </div>
      <div
        class="col-sm-6 col-md-2 text-start text-sm-end twxt-md-center mt-4 mt-sm-0"
      >
        <p class="fs-5 mb-2 mb-sm-4">CONTATTI</p>
        <div class="flex-grow-1 align-content-center">
          <div class="mb-1 text-start text-sm-end text-md-start">
            <p class="mx-auto">
              <b>Telefono:</b>
            </p>
            <p class="mb mx-auto">0734 994780</p>
          </div>
          <div class="mb-1 text-sm-end text-md-start">
            <p>
              <b>Email:</b>
            </p>
            <p class="mb">saloneN&S&commat;gmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div
          class="flex-grow-1 align-items-center d-flex justify-content-center justify-content-md-end mt-3 mt-md-0 h-100 gap-3"
        >
          <a
            href="https://www.facebook.com/parrucchieri.nicolettaesandro"
            target="_blank"
            rel="noopener noreferrer"
            ><ng-icon class="ico fb" name="remixFacebookFill"></ng-icon
          ></a>
          <a
            href="https://www.instagram.com/parrucchierinicoletta_e_sandro?igsh=MW9mOGhveDhmaHJoaw=="
            target="_blank"
            rel="noopener noreferrer"
            ><ng-icon class="ico ig" name="remixInstagramLine"></ng-icon
          ></a>
          <a
            href="https://wa.me/393278836990"
            target="_blank"
            rel="noopener noreferrer"
            ><ng-icon class="ico wa" name="remixWhatsappLine"></ng-icon
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
