<h3>Aggiungi prenotazione</h3>

<div class="mb-3">
  <div class="d-inline-block">
    <label for="closed" class="checkbox-container">
      <input
        type="checkbox"
        name="closed"
        id="closed"
        [(ngModel)]="newCustomer"
        (ngModelChange)="updateChangeValueOfNewCustomer()"
      />
      <span class="custom-checkbox"></span><span>Nuovo cliente?</span>
    </label>
  </div>
  <ng-container *ngIf="!newCustomer">
    <div class="mt-3 d-flex gap-3">
      <div class="d-flex flex-column">
        <label class="form-label">Scegli il cliente</label>
        <ng-select
          class="custom flex-grow-1"
          [(ngModel)]="selectedCustomer"
          [placeholder]="'Nome cliente'"
          bindValue="id"
          [searchable]="true"
          [minTermLength]="2"
          notFoundText="Nessun risultato"
          [virtualScroll]="true"
        >
          @for(customer of customers;track customer.id){
          <ng-option [value]="customer.id"
            >{{ customer.name | capitalize }}
            {{ customer.surname | capitalize }}</ng-option
          >
          }</ng-select
        >
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="newCustomer">
    <div class="mt-3 d-flex gap-3">
      <div class="d-flex flex-column">
        <label for="name" class="form-label">Nome</label>
        <input
          type="text"
          name="name"
          id="name"
          [(ngModel)]="newCustomerCreate.name"
          (ngModelChange)="updateServiceSelectState()"
        />
      </div>
      <div class="d-flex flex-column">
        <label for="surname" class="form-label">Cognome</label>
        <input
          type="text"
          name="surname"
          id="surname"
          [(ngModel)]="newCustomerCreate.surname"
          (ngModelChange)="updateServiceSelectState()"
        />
      </div>
      <div class="d-flex flex-column">
        <label for="birthDate" class="form-label">Data di nascita</label>
        <input
          type="date"
          max="{{ today }}"
          name="birthDate"
          id="birthDate"
          [(ngModel)]="newCustomerCreate.dateOfBirth"
          (ngModelChange)="updateServiceSelectState()"
        />
      </div>
      <div class="d-flex flex-column">
        <label for="phoneNumber" class="form-label">Numero di telefono</label>
        <input
          type="tel"
          max="{{ today }}"
          name="phoneNumber"
          id="phoneNumber"
          [(ngModel)]="newCustomerCreate.phoneNumber"
          (ngModelChange)="updateServiceSelectState()"
        />
      </div>
      <div class="d-flex flex-column">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          max="{{ today }}"
          name="email"
          id="email"
          [(ngModel)]="newCustomerCreate.email"
          (ngModelChange)="updateServiceSelectState()"
        />
      </div>
    </div>
  </ng-container>
  <div class="mt-3 d-flex gap-3">
    <div class="d-flex flex-column">
      <label class="form-label">Scegli i servizi</label>
      <ng-select
        class="custom multiple flex-grow-1"
        [(ngModel)]="selectedServices"
        [placeholder]="'Seleziona servizi'"
        bindValue=""
        [searchable]="true"
        [minTermLength]="2"
        notFoundText="Nessun risultato"
        [virtualScroll]="true"
        [multiple]="true"
        [disabled]="
          (!newCustomer && !selectedCustomer) ||
          (newCustomer && servicesDisabled)
        "
      >
        @for(service of services;track service.id){
        <ng-option [value]="service" [disabled]="service.hidden">{{
          service.name | capitalize
        }}</ng-option>
        }</ng-select
      >
    </div>
    <div class="d-flex flex-column">
      <label class="form-label">Scegli il giorno</label>
      <div class="position-relative">
        <span class="position-absolute badge bg-accent">{{
          chooseDate ? getDayOfWeek(chooseDate.getDay()).toUpperCase() : ""
        }}</span>
        <input
          [disabled]="selectedServices && selectedServices.length <= 0"
          type="date"
          name="date"
          id="date"
          [min]="today"
          (change)="onDateChange($event)"
          class=""
          #dateInput
        />
      </div>
    </div>
    <div class="d-flex flex-column">
      <ng-container *ngIf="slots">
        <label class="form-label">Scegli l'orario</label>
        <ng-select
          class="custom flex-grow-1"
          [(ngModel)]="chooseTime"
          [placeholder]="'Seleziona orario'"
          [searchable]="false"
          notFoundText="Nessun risultato"
          [virtualScroll]="true"
        >
          @for(availableTime of slots.availableTimes;track availableTime){
          <ng-option [value]="availableTime">{{
            timeConversionSvc.secondsToTime(availableTime.startTime)
          }}</ng-option>
          }</ng-select
        >
      </ng-container>
    </div>
    <div class="d-flex flex-column">
      <ng-container *ngIf="chooseTime">
        <p class="form-label">Orario fine</p>

        <input
          type="text"
          readonly
          class="notClickable w-50"
          [value]="timeConversionSvc.secondsToTime(chooseTime.endTime)"
        />
      </ng-container>
    </div>
    <div class="flex-grow-1"></div>
    <div class="d-flex flex-column justify-content-end">
      <button
        class="btn btn-accent"
        (click)="createReservation()"
        [disabled]="
          !this.chooseDate ||
          !this.chooseTime ||
          this.selectedServices.length <= 0 ||
          (!this.selectedCustomer && servicesDisabled)
        "
      >
        Inserisci appuntamento
      </button>
    </div>
  </div>
</div>
