<ng-container *ngIf="customer">
  <div class="customer-card h-100">
    <h3 class="text-capitalize">
      {{ customer.name + " " + customer.surname }}
    </h3>
    <p>
      <b>Data di nascita:</b> {{ customer.dateOfBirth | date : "dd/MM/yyyy" }}
    </p>
    <p><b>Telefono:</b> {{ customer.phoneNumber }}</p>
    <p><b>Email:</b> {{ customer.email }}</p>
    <p><b>Prenotazioni:</b> {{ customer.reservations.length }}</p>

    <div class="d-flex justify-content-center">
      <button class="btn btn-accent" (click)="viewReservation()">
        Vedi info
      </button>
    </div>
  </div>
</ng-container>
