@import "../../../../partials/partialColors";

.img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.icon-delete {
  position: absolute;
  top: 0;
  right: 0;
  color: $danger;
  background-color: $background;
  border-radius: 50%;
  font-size: larger;
  transform: translate(0, -50%);
}
