<div class="row fixed-height">
  <div class="col-8 calendar-container">
    <app-calendar></app-calendar>
  </div>
  <div class="col-4">
    <app-appointments-list></app-appointments-list>
  </div>
</div>
<div class="mt-4 row border-top border-bottom py-3" #createReservationObserver>
  <div class="col-12">
    <ng-container *ngIf="showCreateReservation">
      <app-create-reservation
        [customers]="customers"
        [services]="salonServices"
      ></app-create-reservation>
    </ng-container>
  </div>
</div>
<div class="row mt-3" #historyObserver>
  <div class="col-12">
    <ng-container *ngIf="showReservationHistory">
      <app-reservation-history
        [customers]="customers"
        [salonServices]="salonServices"
      ></app-reservation-history>
    </ng-container>
  </div>
</div>
