<div class="img-container">
  <div class="cover d-flex justify-content-center align-items-center">
    <h1 class="text-light">Contatti</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h5 class="fs-2 text-center text-md-start mt-5">
        Hai una domanda? Inviaci una richiesta utilizzando il modulo qui sotto.
      </h5>
    </div>
  </div>
  <div class="row section">
    <div class="col-12 col-md-7 col-lg-6 h-100 form">
      <p class="askRes">
        Se desideri prendere un appuntamento, visita la pagina di
        <a routerLink="/reservation"> PRENOTAZIONE</a>
      </p>
      <form
        [formGroup]="form"
        (ngSubmit)="sendEmail()"
        class="d-flex flex-column w-100 gap-5 mt-5"
      >
        <div class="w-100 position-relative">
          <input
            type="text"
            placeholder="Nome"
            name="name"
            formControlName="name"
            class="w-100"
          />

          <span class="validator" role="alert" *ngIf="isInvalidTouched('name')"
            ><ng-icon name="iconoirEmojiSad"></ng-icon> Campo
            obbligatorio!</span
          >
        </div>

        <div class="w-100 position-relative">
          <input
            type="email"
            placeholder="La tua email"
            name="email"
            formControlName="email"
            class="w-100"
          />
          <span class="validator" role="alert" *ngIf="isInvalidTouched('email')"
            ><ng-icon name="iconoirEmojiSad"></ng-icon>
            {{ getError("email") }}</span
          >
        </div>
        <div class="w-100 position-relative">
          <textarea
            placeholder="Scrivi il messagio qui"
            rows="4"
            name="message"
            formControlName="message"
            class="w-100"
          ></textarea>
          <span
            class="validator"
            role="alert"
            *ngIf="isInvalidTouched('message')"
            ><ng-icon name="iconoirEmojiSad"></ng-icon>
            {{ getError("message") }}</span
          >
        </div>
        <button [disabled]="form.invalid" class="btn btn-accent" type="submit">
          Invia
        </button>
      </form>
    </div>
    <div class="col-12 col-md-5 col-lg-6 h-100 text-center text-md-end info">
      <h6>Telefono</h6>
      <p>+39 0734 994780</p>
      <h6>Indirizzo</h6>
      <p>Via Umberto I, 401</p>
      <p>63821</p>
      <p>Porto Sant' Elpidio (FM)</p>
    </div>
  </div>
  <div class="row">
    <div class="map px-0">
      <google-map height="400px" width="100%" [center]="center" [zoom]="zoom">
        <map-marker
          *ngIf="customIcon"
          [position]="center"
          [title]="markerTitle"
          [icon]="customIcon"
          (mapClick)="onMarkerClick()"
        ></map-marker>
      </google-map>
    </div>
  </div>
</div>
