$text: #0d1821;
$background: #f0efec;
$primary: #ae8b97;
$secondary: #5e3241;
$accent: #88425a;
$warning: #ca7d19;
$danger: #891c1c;
$success: #179217;
$info: #1a1a9f;

$custom-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent,
  "light": $background,
  "dark": $text,
  "warning": $warning,
  "danger": $danger,
  "success": $success,
  "info": $info,
);
