<div class="h-100 d-flex flex-column justify-content-center">
  <div class="p-3">
    <h1 class="mb-4">Crea nuova password</h1>
    <h4>
      Ti richiederemo questa password ogni volta che effettuerai l'accesso.
    </h4>
    <form [formGroup]="form" (ngSubmit)="resetPassword()">
      <div class="form-group">
        <label for="password" class="mt-2">Password</label>
        <div class="position-relative w-100">
          <input
            [type]="showPassword1 ? 'text' : 'password'"
            [placeholder]="showPassword1 ? 'password' : '********'"
            class="form-control"
            formControlName="newPassword"
            id="newPassword"
          />
          <label
            class="iconEye"
            (click)="togglePassword1()"
            style="cursor: pointer"
            for="newPassword"
          >
            <ng-icon
              [name]="showPassword1 ? 'iconoirEye' : 'iconoirEyeClosed'"
              size="1.25rem"
              color="#0d1821"
            ></ng-icon>
          </label>
        </div>
        <div>
          <span
            class="validator"
            role="alert"
            *ngIf="isInvalidTouched('newPassword')"
            ><ng-icon name="iconoirEmojiSad"></ng-icon>
            {{ getError("newPassword") }}</span
          >
        </div>
        <label for="confirmPassword" class="mt-2">Conferma password</label>
        <div class="position-relative w-100">
          <input
            [type]="showPassword2 ? 'text' : 'password'"
            [placeholder]="showPassword2 ? 'password' : '********'"
            class="form-control"
            formControlName="confirmPassword"
            id="confirmPassword"
          />
          <label
            class="iconEye"
            (click)="togglePassword2()"
            style="cursor: pointer"
            for="confirmPassword"
          >
            <ng-icon
              [name]="showPassword2 ? 'iconoirEye' : 'iconoirEyeClosed'"
              size="1.25rem"
              color="#0d1821"
            ></ng-icon>
          </label>
        </div>
        <div>
          <span
            class="validator"
            role="alert"
            *ngIf="
                    isInvalidTouched('confirmPassword') &&
                    !( form.errors?.['passwordMismatch'] &&
                    form.get('confirmPassword')?.touched)

                  "
            ><ng-icon name="iconoirEmojiSad"></ng-icon>
            {{ getError("confirmPassword") }}</span
          >
          <span
            class="validator"
            role="alert"
            *ngIf="
                    form.errors?.['passwordMismatch'] &&
                    form.get('confirmPassword')?.touched
                  "
            ><ng-icon name="iconoirEmojiSad"></ng-icon> Le password non
            corrispondono</span
          >
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-accent mt-2"
        [disabled]="form.invalid"
      >
        <ng-container *ngIf="!isLoadingLogin">Invia richiesta</ng-container>
        <span
          *ngIf="isLoadingLogin"
          class="spinner-border spinner-border-sm"
          aria-hidden="true"
        ></span>
      </button>

      <p class="mt-3">
        Torna al
        <a routerLink="/auth">Login</a>.
      </p>
    </form>
  </div>
</div>
